/* Оснойной колір тексту #212121 */
/* Додатковий колір тексту #757575 */
/* Колір наведения #2196F3 */
/* Колір героя #FFFFFF */
/* тел и емел rgba(255, 255, 255, 0.6); */

:root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --portfolio-button: #F5F4FA;
    --hero-fon: #2F303A;
    --logo-color: #000000;
}

body{
   background: var(--hero-color);
   color: var(--title-text-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

/* .link:visited {
    color: var(--hero-color);
} */

/* Логотип */

.logo{
    color: var(--accent-color);
}

.log{
    color: var(--logo-color);
}


/* Навігація сайту */

.site-nav .link{
    color: var(--primary-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.adress-nav .link:hover,
.adress-nav .link:focus {
    color: var(--accent-color);
}

/* Заголовок сайту */

.hero{
    background: var(--hero-fon);
}

.hero-title{
    color: var(--hero-color);
}

/* Секції */

.section-title{
    color: var(--primary-text-color);
}

/* Особливості */

.feature-list .title{
    color: var(--primary-text-color);
}

/* Команда */

.user-list .title{
    color:var(--primary-text-color);
}

.button {
    color: var(--hero-color);
    background: var(--accent-color);
}

/* SCC ПОРТФОЛИО */

.filters {
    background: var(--portfolio-button);
}

.filters .title {
    color: var(--primary-text-color);
}

.projects .title {
    color: var(--primary-text-color);
}

.filters .link:hover,
.filters .link:focus {
    color: var(--hero-color);    
    background: var(--accent-color);
}